html{
  height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
  background-image: url("img/bg_white.jpg");
  background-repeat: repeat;
}

.page-wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
    /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

.page-buffer{
  height: 15px;
}

.tag
{
    margin-left:15px;
    margin-right:15px;
}

.navbar-brand{
	width: 200px;
	height: 50px;
}

.navbar-brand img{
	position: absolute;
	top: 0;
	left: 60px;
	width: 200px;
	height: 50px;
}

.navbar .dropdown ul{
	background-color: #D092FA;
}

/* Set the fixed height of the footer here */
.footer {
  background-color: #000000;
  height: 50px;
}

.footer > .container {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.thumbnail {
	background-color: ButtonShadow;
}

    .thumbnail label
    {
        padding-left:1px;
        padding-right:1px;
        padding-top:5px;
    }

.form-control{
 	width: 220px;
 	color: #0f0;
 }

.main_buttons .btn
{
    width: 450px;
}

 .navbar .btn, #watch_old, .carousel-caption .btn, .form-signin .btn, .main_buttons .btn{
 	background-color: #4E1073;
 	border-color: #65387F;
 }

 .navbar .btn:hover, .carousel-caption .btn:hover, .form-signin .btn:hover, .main_buttons .btn:hover{
 	background-color: #AE23FF;
 	border-color: #D489FF;
 }

 #log_out, #log_out:hover{
  color: #FFFFFF;
 }

#active
{
    color:blueviolet;
    background-color:ButtonShadow;
}

.row{
  width: 100%;
}

ul{
	text-align: center;
	width: auto;
}

.form-signin label
{  
    vertical-align:middle;
    margin-left: 100px;
}

.form-signin {
  width: 750px;
  padding: 15px;
  margin: 0 auto;
}

    .form-signin select
    {
        width: 400px;
        margin-left: 160px;
    }

    .form-signin select option, .form-signin select option["selected"]
    {
        background-color:#D092FA;
    }

.form-signin h3, .form-signin .form-signin-heading,  .form-signin strong{
  text-shadow:3px 3px 3px #FFFAFA;
  text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: 600;
}

.form-signin .checkbox input{
  margin-left: 180px;
}

.form-signin input:focus {
  z-index: 2;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-signin input, .form-signin textarea{
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 100px;
  color: #000000;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 400px;  
  display: block;
  padding: 6px 12px;
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
          box-sizing: border-box; 
}

.pagination
{
    text-align:center;
    width:auto;
    padding-top:160px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  font-size: 18px;
}

.carousel-caption h1{
  font-style: italic;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 370px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: -40px;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top:30px;
}

.marketing .col-md-3 .thumbnail{
    margin-top:30px;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-md-3 .thumbnail img {
  text-align:center;
  width:170px;
  height:100%;
}

.marketing .thumbnail > .btn-group > button{
    margin-top:5px;
	width:246px;
  	margin-top: 5px;
}

.col-md-4 .thumbnail > #profile_pictures > button
{
    margin-top:5px;
    width:149px;
}

/*end carousel*/

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    margin-left: 130px;
    font-weight: bold;
}


.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
    margin-left: 130px;
}

.validation-summary-valid {
    display: none;
}






